doctype html

html
  head
    title BrickHack3

    script(src='/socket.io/socket.io.js')

  body
    

    script(src='/shared/Constants.js')
    script(src='/shared/Util.js')
    script(src='/shared/base.js')
    script(src='/public/js/game/Drawing.js')
    script(src='/public/js/game/Game.js')
    script(src='/public/js/game/Input.js')
    script(src='/public/js/game/Viewport.js')
    script(src='/public/js/client.js')
