doctype html

html
  head
    title Bombs Away

    link(rel='stylesheet'
      href='/public/bower/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet' href='/public/css/styles.css')
    meta(property='og:image', content='https://unsplash.it/250')
    meta(property='og:description', content='By Alvin, Dan and Karl at BrickHack 3.')

    script(src='/socket.io/socket.io.js')
    script(src='/public/bower/jquery/dist/jquery.min.js')
    script(src='/public/bower/materialize/dist/js/materialize.min.js')

  body
    h1 Bombs Away (child-friendly)
    div(class='game-container')
      div(class='name-prompt-container')
        div(class='container')
          form(class='name-form')
            input(class='name-input' placeholder='Player Name')
          div(class='loader preloader-wrapper big active')
            div(class='spinner-layer spinner-blue-only')
              div(class='circle-clipper left')
                div(class='circle')
              div(class='gap-patch')
                div(class='cirlce')
              div(class='circle-clipper right')
                div(class='circle')
      canvas(id='canvas')
    h6 &copy; 2017 Dan Giaime, Alvin Lin, Karl Coelho
    h5 Use WASD/arrow keys to move, click to place a bomb at your cursor, and
      |  use E-Q to adjust the fuse of the bomb.

    script(src='/shared/base.js')
    script(src='/shared/Constants.js')
    script(src='/shared/Util.js')
    script(src='/public/js/game/Drawing.js')
    script(src='/public/js/game/Game.js')
    script(src='/public/js/game/Input.js')
    script(src='/public/js/game/Viewport.js')
    script(src='/public/js/client.js')
